mule-flows/src/main/mule/async-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="async-implFlow" doc:id="a1ae1e1c-243e-48a7-8184-37dc7b33d629" >
		<http:listener doc:name="Listener" doc:id="1f0f822b-0f0d-4a8a-b873-4fb9ad349129" config-ref="HTTP_Listener_config" path="/async"/>
		<ee:transform doc:name="Transform Message" doc:id="6e413508-37ad-4e45-8261-79067af7c70a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"id" : 10,
	"batchname" : "evening batch"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e24c28e3-3a4b-4a4c-bd1e-4665c1e3c545" message="Before sending data to Async flow"/>
		<flow-ref doc:name="Flow Reference" doc:id="5d94a107-8324-4777-b5b6-4c49ab7cba25" name="async-implFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="34271727-4f77-495c-bfe2-bcea2cc48baf" message="After sending data to Async flow"/>
	</flow>
	<flow name="async-implFlow1" doc:id="f0085389-d825-47d6-bb04-161c600ea7c3" >
		<async doc:name="Async" doc:id="0b0f3e19-c01e-4986-bee4-4ec617837370" >
			<logger level="INFO" doc:name="Logger" doc:id="0913f408-106d-4668-bea5-a4ea9a75aa58" message="I am the logger from Async flow"/>
			<ee:transform doc:name="Transform Message" doc:id="a32414f7-ab3d-466c-a085-42d89ca88889" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="8a3dae0b-1cbe-4a05-8452-4cbb5cb3ebc8" message="#[payload]"/>
		</async>
	</flow>
	<flow name="async-implFlow2" doc:id="6784d2f7-963b-4ae6-b425-004c3177b5fc" >
		<ee:transform doc:name="Transform Message" doc:id="a2acc4e8-b774-4606-8f6d-5365ebcb612a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="3dba042f-2477-4305-995e-e3c536f3d2bc" />
	</flow>
</mule>
